node_modules/
client/node_modules/
dist/
build/
android/app/build/
android/build/
ios/build/
ios/Pods/
**/.gradle/
**/.idea/
.vscode/
*.log
.DS_Store
# archives & secrets
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.ipa
*.apk
*.aab
*.map
coverage/
.env*
